#logo_img {

width: 75px;
height: 75px;
}

#selfie_img1 {

width: 150px;
height: 150px;
}

#selfie_img2 {

    width: 150px;
    height: 150px;
    }


    #selfie_img3 {

        width: 150px;
        height: 150px;
        }


        body{

        background-color: aqua;

        }